<ion-header>
	<ion-toolbar class="toolbar-blue">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title class="title-top">
			Statement
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-item>
	<ion-label>Products</ion-label>
	<ion-select placeholder="Select One" (ionChange)="onChange($event)" [(ngModel)]="productSelected">
		<ion-select-option *ngFor="let product of allProducts" value="{{product.Id}}">{{product.C_Product_Name}}</ion-select-option>

	</ion-select>
</ion-item>
<ion-datetime [(ngModel)]="startDate" display-timezone="utc"></ion-datetime>
<ion-datetime [(ngModel)]="endDate" display-timezone="utc"></ion-datetime>
<ion-button color="secondary" (click)="fetchLedger()">Get</ion-button>

<ion-content>
	<div class="card-bg-full">


		<ion-card class="card black-card-sm">
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>Saving Account</h3>
					<h2> {{ledgerDetails.accno}}</h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Available Balance</h3>
					<h2>₹ {{ledgerDetails.balance}}
						<!-- <sub>.00</sub> -->
					</h2>
				</ion-col>
			</ion-row>
		</ion-card>

	</div>

	<ion-grid class="successfully-footer ion-no-padding">
		<ion-row class="successfully-footer">
			<ion-col class="pa0">
				<button class="filter" ion-button block>
					<ion-icon name="clipboard"></ion-icon> Download Statement</button>
			</ion-col>

		</ion-row>
	</ion-grid>
	<!-- List of Text Items -->
	<ion-list>

		<ion-item *ngFor="let ledgerDetail of ledgerDetails.ledgerdetail">
			<ion-label>
				<div class="transaction-head">{{ledgerDetail.particulars}}</div>
				<div class="transaction-date">{{ledgerDetail.date}} </div>
				<div class="transaction-amt " [ngClass]="ledgerDetail.entrytype=='Dr'?'red':'green'">₹ {{ledgerDetail.Amount}}
					<sub>{{ledgerDetail.entrytype}}</sub>
				</div>
			</ion-label>
		</ion-item>


	</ion-list>

</ion-content>