<ion-content class="content content-md">


  <div class="banner">
    <h2 class="white-heading ion-text-center">Bank App</h2>
  </div>

  <div class="ma30">
    <h2 class="mb20" text-center="">Change Password</h2>



    <form [formGroup]="changePasswordForm">

      <ion-input class="input-f" type="password" formControlName="oldPassword" placeholder="Enter Old Password"></ion-input>
      <ion-input class="input-f" type="password" formControlName="newPassword" placeholder="Enter New Password"></ion-input>
    </form>




    <button class="btngreen mt10" ion-button block outline (click)="changePassword()">Change Password</button>






  </div>
</ion-content>