<ion-header  no-border >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
    Done
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-bg-200height"></div>
  

<ion-card class="card-successfully">


<div class="successfully-green-round"><ion-icon name="checkmark"></ion-icon></div>
 
    <ion-card-title class="successfully">Booked Successfully !!</ion-card-title>
 


<ion-list class="pt0">
  <ion-item lines="none">
    <ion-label>
	<div class="small-gray">From Date and Time</div>
	<div class="black-heading">12-12-2019 | 05:00PM</div>

	</ion-label>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label>
	<div class="small-gray">End Date and Time</div>
	<div class="black-heading">28-12-2019 | 06:00PM</div>

	</ion-label>
  </ion-item>
  
    <ion-item lines="none">
    <ion-label>
	<div class="small-gray">Village</div>
	<div class="black-heading">Sansarpur</div>

	</ion-label>
  </ion-item>
  
    <ion-item lines="none">
    <ion-label text-wrap>
	<div class="small-gray">Address</div>
	<div class="black-heading">Hno. 95 VPO Sansarpur Jalandhar Cantt Punjab India</div>

	</ion-label>
  </ion-item>
  
</ion-list>
  
  

</ion-card>





</ion-content>
<ion-footer no-border class="successfully-footer">

   <ion-grid class="successfully-footer">
  <ion-row class="successfully-footer">
    <ion-col class="successfully-footer">
        <button [routerLink]="['/aritoolbooking']" class="btnlightblue" ion-button block>Book More Tool</button>
    </ion-col>
    <ion-col class="successfully-footer">
   <button [routerLink]="['/home']" class="btngreen" ion-button block>Back to Home</button>
    </ion-col>
  
   
  </ion-row>
</ion-grid>

</ion-footer>