<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
    Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row> 
  <ion-col size="12">  
	<div class="transaction-head">View Cart</div>	
 </ion-col>
  </ion-row>
</ion-grid>


<!-- List of Text Items -->
<ion-list>
  <ion-item lines="none" >
    <ion-label text-wrap>
	<div class="transaction-head">Seed 4</div>	
	<div class="small-gray">₹ 189.00</div>
	</ion-label>
	  <ion-badge  color="light" slot="end">  <span class="text-right-all quantity-outer"> <span class="quantity-gray-min">-</span> <span  class="quantity">3</span> <span class="quantity-gray-plus">+</span> </span> </ion-badge> 
	  </ion-item>
	  
	    <ion-item lines="none" >
    <ion-label text-wrap>
	<div class="transaction-head">Rice Seed 1024 No. </div>	
	<div class="small-gray">₹ 52.00</div>
	</ion-label>
	  <ion-badge  color="light" slot="end">  <span class="text-right-all quantity-outer"> <span class="quantity-gray-min">-</span> <span  class="quantity">1</span> <span class="quantity-gray-plus">+</span> </span> </ion-badge> 
	  </ion-item>
	  
	    <ion-item lines="none" >
    <ion-label text-wrap>
	<div class="transaction-head">UREA 152</div>	
	<div class="small-gray">₹ 420.00</div>
	</ion-label>
	  <ion-badge  color="light" slot="end">  <span class="text-right-all quantity-outer"> <span class="quantity-gray-min">-</span> <span  class="quantity">2</span> <span class="quantity-gray-plus">+</span> </span> </ion-badge> 
	  </ion-item>
	  </ion-list>
<ion-grid>
  <ion-row> <ion-col size="12">  
  <div class="transaction-head">Apply Coupon</div>	
   </ion-col>
    <ion-col size="7">        
<ion-input class="input-white-bg" placeholder="Enter Coupon Code"></ion-input>
    </ion-col>
    <ion-col size="5" class="successfully-footer">
   <button class="btngreen" ion-button block>Apply Coupon</button>
    </ion-col>
  
   
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row> 
  <ion-col size="12">  
	<div class="transaction-head">Bill Details</div>	
 </ion-col>
  </ion-row>
</ion-grid>

 


<ion-grid class="bg-white">
  <ion-row class="bg-white"> 
  <ion-col size="8">  
	<div class="small-gray">Item Total</div>	
 </ion-col>
  <ion-col size="4">  
	<div class="small-gray text-right-all">₹ 1200</div>	
 </ion-col>
  </ion-row>
  
  <ion-row> 
  <ion-col size="8">  
	<div class="small-gray">Coupon Discount</div>	
 </ion-col>
  <ion-col size="4">  
	<div class="small-gray text-right-all">₹ 120</div>	
 </ion-col>
  </ion-row>
  
   <ion-row> 
  <ion-col size="8">  
	<div class="small-gray">TAX 3%</div>	
 </ion-col>
  <ion-col size="4">  
	<div class="small-gray text-right-all">₹ 68</div>	
 </ion-col>
  </ion-row>
  <ion-row> 
  <ion-col size="8">  
	<div class="small-gray">To Pay </div>	
 </ion-col>
  <ion-col size="4">  
	<div class="small-gray text-right-all">₹ 1388</div>	
 </ion-col>
  </ion-row>
</ion-grid>
 

 


 


</ion-content>
<ion-footer no-border class="successfully-footer">

   <ion-grid class="successfully-footer">
  <ion-row class="successfully-footer">
    <ion-col size="7" class="successfully-footer">
        <button class="btnlightblue" ion-button block>8 Items | ₹ 1388.00</button>
    </ion-col>
    <ion-col size="5" class="successfully-footer">
   <button [routerLink]="['/payment']" class="btngreen" ion-button block>Proceed to pay</button>
    </ion-col>
  
   
  </ion-row>
</ion-grid>

</ion-footer>
