<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
   Fund Transfer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


 
 

 
 
  <ion-card class="ma15">

<ion-item lines="none" class="bg-white">
  <ion-avatar slot="start" >
  <img src="assets/imgs/ic_transfer.png">
  </ion-avatar>
  <ion-label class="">
  <div class="black-heading pt5">Fund Transfer</div>
  <div class="small-gray pt5">Within Bank</div>

  </ion-label>
</ion-item>
 </ion-card>
 
 
 
  <ion-card class="ma15">

<ion-item lines="none" class="bg-white">
  <ion-avatar slot="start" >
  <img src="assets/imgs/ic_transfer.png">
  </ion-avatar>
  <ion-label class="">
  <div class="black-heading pt5">Fund Transfer</div>
  <div class="small-gray pt5">To other Bank</div>

  </ion-label>
</ion-item>
 </ion-card>
 
  
  <ion-card class="ma15">

<ion-item lines="none" class="bg-white">
  <ion-avatar slot="start" >
  <img src="assets/imgs/ic_transfer.png">
  </ion-avatar>
  <ion-label class="">
  <div class="black-heading pt5">IMPS</div>
  <div class="small-gray pt5">Within Bank</div>

  </ion-label>
</ion-item>
 </ion-card>
 
  
  <ion-card class="ma15">

<ion-item lines="none" class="bg-white">
  <ion-avatar slot="start" >
  <img src="assets/imgs/ic_transfer.png">
  </ion-avatar>
  <ion-label class="">
  <div class="black-heading pt5">NEFT</div>
  <div class="small-gray pt5">Within Bank</div>

  </ion-label>
</ion-item>
 </ion-card>
 
  
  <ion-card class="ma15">

<ion-item lines="none" class="bg-white">
  <ion-avatar slot="start" >
  <img src="assets/imgs/ic_transfer.png">
  </ion-avatar>
  <ion-label class="">
  <div class="black-heading pt5">Pay with UPI</div>
  <div class="small-gray pt5">UPI transfer</div>

  </ion-label>
</ion-item>
 </ion-card>
 

</ion-content>
