<ion-header>
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
  Terms and Conditions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header class="pb5">
  
    <ion-card-title class="black-heading"> Lorem Ipsum is</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header class="pb5">
  
    <ion-card-title class="black-heading"> Lorem Ipsum is</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header class="pb5">
  
    <ion-card-title class="black-heading"> Lorem Ipsum is</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
  </ion-card-content>
</ion-card>



</ion-content>