<ion-header>
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
      Statement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-datetime [(ngModel)]="startDate" display-timezone="utc"></ion-datetime>
<ion-datetime [(ngModel)]="endDate" display-timezone="utc"></ion-datetime>
<ion-button color="secondary" (click)="fetchShareMoney()">Get</ion-button>

<ion-content>
  <div class="card-bg-full">


    <ion-card class="card black-card-sm">
      <ion-row class="row">
        <ion-col class="col" size="7">
          <h3>Saving Account</h3>
          <h2> {{ledgerDetails.accno}}</h2>
        </ion-col>
        <ion-col class="col" size="5" text-end>
          <h3>Available Balance</h3>
          <h2>₹ {{ledgerDetails.balance}}
            <!-- <sub>.00</sub> -->
          </h2>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>

  <ion-grid class="successfully-footer ion-no-padding">
    <ion-row class="successfully-footer">
      <ion-col class="pa0">
        <button class="filter" ion-button block>
          <ion-icon name="clipboard"></ion-icon> Download Statement</button>
      </ion-col>

    </ion-row>
  </ion-grid>
  <!-- List of Text Items -->
  <ion-list>

    <ion-item *ngFor="let ledgerDetail of ledgerDetails.ledgerdetail">
      <ion-label>
        <div class="transaction-head">{{ledgerDetail.particulars}}</div>
        <div class="transaction-date">{{ledgerDetail.date}} </div>
        <div class="transaction-amt " [ngClass]="ledgerDetail.entrytype=='Dr'?'red':'green'">₹ {{ledgerDetail.Amount}}
          <sub>{{ledgerDetail.entrytype}}</sub>
        </div>
      </ion-label>
    </ion-item>
    <!-- <ion-item>
			<ion-label>
				<div class="transaction-head">EMI Debited</div>
				<div class="transaction-date">12 June, 2019 </div>
				<div class="transaction-amt red">₹ 7676.00
					<sub>Dr</sub>
				</div>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
				<div class="transaction-head">EMI Debited</div>
				<div class="transaction-date">12 June, 2019 </div>
				<div class="transaction-amt green">₹ 22398.00
					<sub>Cr</sub>
				</div>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
				<div class="transaction-head">EMI Debited</div>
				<div class="transaction-date">12 June, 2019 </div>
				<div class="transaction-amt red">₹ 78764.00
					<sub>Dr</sub>
				</div>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
				<div class="transaction-head">EMI Debited</div>
				<div class="transaction-date">12 June, 2019 </div>
				<div class="transaction-amt green">₹ 455.00
					<sub>Cr</sub>
				</div>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
				<div class="transaction-head">EMI Debited</div>
				<div class="transaction-date">12 June, 2019 </div>
				<div class="transaction-amt green">₹ 4577.00
					<sub>Cr</sub>
				</div>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
				<div class="transaction-head">EMI Debited</div>
				<div class="transaction-date">12 June, 2019 </div>
				<div class="transaction-amt red">₹ 108100.00
					<sub>Dr</sub>
				</div>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>
				<div class="transaction-head">EMI Debited</div>
				<div class="transaction-date">12 June, 2019 </div>
				<div class="transaction-amt green">₹ 1000.00
					<sub>Cr</sub>
				</div>
			</ion-label>
		</ion-item> -->

  </ion-list>

</ion-content>