<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
     History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
 
<ion-grid>
  <ion-row> 
  <ion-col size="12">  
	<div class="transaction-head">Past orders and Tool booked</div>	
 </ion-col>
  </ion-row>
</ion-grid>


  <ion-card class="ma10">

<ion-item lines="none" class="bg-white">
  <ion-label class="">
  <div class="black-heading pt5">Rice Seed 1024 No.</div>
  <div class="small-gray pt5">₹  320.00</div>

  </ion-label>
</ion-item>
 </ion-card>
 

 
<ion-grid>
  <ion-row> 
  <ion-col size="12">  
	<div class="transaction-head">Order Details</div>	
 </ion-col>
  </ion-row>
</ion-grid>


<!-- List of Text Items -->
<ion-list>
  <ion-item lines="none" >
    <ion-label text-wrap>
	<div class="transaction-head">Seed 4</div>	
	<div class="small-gray">₹ 189.00</div>
	</ion-label>
	  <ion-badge  color="light" slot="end">  3 </ion-badge> 
	  </ion-item>
	  
	    <ion-item lines="none" >
    <ion-label text-wrap>
	<div class="transaction-head">Rice Seed 1024 No. </div>	
	<div class="small-gray">₹ 52.00</div>
	</ion-label>
	   <ion-badge  color="light" slot="end">  3 </ion-badge> 
	  </ion-item>
	  
	    <ion-item lines="none" >
    <ion-label text-wrap>
	<div class="transaction-head">UREA 152</div>	
	<div class="small-gray">₹ 420.00</div>
	</ion-label>
 <ion-badge  color="light" slot="end">  3 </ion-badge> 	  
	  </ion-item>
	  </ion-list>
<ion-grid class="bg-white">
  <ion-row class="bg-white"> 
  <ion-col size="8">  
	<div class="small-gray">Item Total</div>	
 </ion-col>
  <ion-col size="4">  
	<div class="small-gray text-right-all">₹ 1200</div>	
 </ion-col>
  </ion-row>
  
  <ion-row> 
  <ion-col size="8">  
	<div class="small-gray">Coupon Discount</div>	
 </ion-col>
  <ion-col size="4">  
	<div class="small-gray text-right-all">₹ 120</div>	
 </ion-col>
  </ion-row>
  
   <ion-row> 
  <ion-col size="8">  
	<div class="small-gray">TAX 3%</div>	
 </ion-col>
  <ion-col size="4">  
	<div class="small-gray text-right-all">₹ 68</div>	
 </ion-col>
  </ion-row>
  <ion-row> 
  <ion-col size="8">  
	<div class="small-gray">To Pay </div>	
 </ion-col>
  <ion-col size="4">  
	<div class="small-gray text-right-all">₹ 1388</div>	
 </ion-col>
  </ion-row>
</ion-grid>
 

 


 
 
 
 
 
 
 
 
 
 


</ion-content>
