<ion-content class="content content-md">


  <div class="banner">
    <h2 class="white-heading ion-text-center">Bank App</h2>
  </div>

  <div class="ma30">
    <h2 class="mb20" text-center="">Sign in with customer ID</h2>



    <form [formGroup]="loginForm">

      <ion-input class="input-f" formControlName="userId" placeholder="Enter User ID"></ion-input>
      <ion-input class="input-f" type="password" formControlName="password" placeholder="Enter Password"></ion-input>
    </form>




    <button class="btngreen mt10" ion-button block outline (click)="login()">Sign In</button>




    <div class="thumb_impression" text-center="" (click)="scanFingerPrint()">
      <h2>Or Scan you thump to continue</h2>
      <div class="fingerprint">
        <img src="/assets/imgs/ic_thumb.png">
      </div>
    </div>


  </div>
</ion-content>