<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
     Purchase Booking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid  class="successfully-footer ion-no-padding">
  <ion-row class="successfully-footer">
    <ion-col class="pa0">
       <button [routerLink]="['/filter']" class="filter" ion-button block>  <ion-icon name="clipboard"></ion-icon> Sort</button>
    </ion-col>
	<ion-col class="pa0">
        <button [routerLink]="['/filter']" class="filter" ion-button block><ion-icon name="funnel"></ion-icon> Filter</button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-row class="mt10">
    <ion-col size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 " >
<ion-row class="pa0 ma0">
    <ion-col class="pa0 ma0" size="12"> <img src="assets/imgs/product3.png">  </ion-col>
  </ion-row>
  
  <ion-row>
  <ion-col>
  <div class="black-heading mb5">Bakhsish Combines</div>
    <div class="price mb0"><strong>₹ 556.00 </strong><del>₹ 700.00</del></div>
    <div class="price mb0">1Kg</div>
    <div class="discount mb0 mt5">20% Off*</div>  
    </ion-col>
	</ion-row>  
  <ion-row>
  <ion-col class="ion-text-right">
   <span class="addcart" >  <span class="text-right-all quantity-outer"> <span class="quantity-gray-min">-</span> <span  class="quantity">5</span> <span class="quantity-gray-plus">+</span> </span>   </span>
  </ion-col>
	</ion-row>
  
 </ion-card>	  
    </ion-col> 


    <ion-col size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 " >
<ion-row class="pa0 ma0" >
    <ion-col class="pa0 ma0" size="12"> <img src="assets/imgs/product3.png">  </ion-col>
  </ion-row>
  
  <ion-row>
  <ion-col>
  <div class="black-heading mb5">Bakhsish Combines</div>
    <div class="price mb0"><strong>₹ 556.00 </strong><del>₹ 700.00</del></div>
    <div class="price mb0">1Kg</div>
    <div class="discount mb0 mt5">20% Off*</div>  
    </ion-col>
	</ion-row>  
  <ion-row>
  <ion-col class="ion-text-right">
   <span class="addcart" >  <span class="text-right-all quantity-outer">  <span  class="quantity">Add</span>  </span>   </span>
  </ion-col>
	</ion-row>
  
 </ion-card>	  
    </ion-col> 
	
	<ion-col size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 " >
<ion-row class="pa0 ma0" >
    <ion-col class="pa0 ma0" size="12"> <img src="assets/imgs/product4.png">  </ion-col>
  </ion-row>
  
  <ion-row>
  <ion-col>
  <div class="black-heading mb5">Bakhsish Combines</div>
    <div class="price mb0"><strong>₹ 556.00 </strong><del>₹ 700.00</del></div>
    <div class="price mb0">1Kg</div>
    <div class="discount mb0 mt5">20% Off*</div>  
    </ion-col>
	</ion-row>  
  <ion-row>
  <ion-col class="ion-text-right">
   <span class="addcart" >  <span class="text-right-all quantity-outer">  <span  class="quantity">Add</span>  </span>   </span>
  </ion-col>
	</ion-row>
  
 </ion-card>	  
    </ion-col> 
	
	
<ion-col size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 " >
<ion-row class="pa0 ma0" >
    <ion-col class="pa0 ma0" size="12"> <img src="assets/imgs/product5.png">  </ion-col>
  </ion-row>
  
  <ion-row>
  <ion-col>
  <div class="black-heading mb5">Bakhsish Combines</div>
    <div class="price mb0"><strong>₹ 556.00 </strong><del>₹ 700.00</del></div>
    <div class="price mb0">1Kg</div>
    <div class="discount mb0 mt5">20% Off*</div>  
    </ion-col>
	</ion-row>  
  <ion-row>
  <ion-col class="ion-text-right">
   <span class="addcart" >  <span class="text-right-all quantity-outer">  <span  class="quantity">Add</span>  </span>   </span>
  </ion-col>
	</ion-row>
  
 </ion-card>	  
    </ion-col> 
	
  </ion-row>

 


 

 

 


 


</ion-content>
<ion-footer no-border class="successfully-footer">

   <ion-grid class="successfully-footer">
  <ion-row class="successfully-footer">
    <ion-col size="7" class="successfully-footer">
        <button class="btnlightblue" ion-button block>8 Items | ₹ 45000.00</button>
    </ion-col>
    <ion-col size="5" class="successfully-footer">
   <button [routerLink]="['/purchasecart']" class="btngreen" ion-button block>View  Cart</button>
    </ion-col>
  
   
  </ion-row>
</ion-grid>

</ion-footer>
