<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
     Recurring Deposit
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
<div class="mt15">


<ion-card class="card black-card-sm" [routerLink]="['/rddetail']">
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>RD No.</h3>
					<h2>0612 0150 3518</h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Target Amount</h3>
					<h2>₹ 10,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>Tenure</h3>
					<h2>1<sub> Year</sub></h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Remaining Amount</h3>
					<h2>₹ 40,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
		</ion-card>
		
		
		<ion-card class="card black-card-sm" [routerLink]="['/rddetail']">
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>RD No.</h3>
					<h2>0612 0150 3518</h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Target Amount</h3>
					<h2>₹ 10,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>Tenure</h3>
					<h2>1<sub> Year</sub></h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Remaining Amount</h3>
					<h2>₹ 40,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
		</ion-card>
		
		<ion-card class="card black-card-sm" [routerLink]="['/rddetail']">
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>RD No.</h3>
					<h2>0612 0150 3518</h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Target Amount</h3>
					<h2>₹ 10,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>Tenure</h3>
					<h2>1<sub> Year</sub></h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Remaining Amount</h3>
					<h2>₹ 40,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card class="card black-card-sm" [routerLink]="['/rddetail']">
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>RD No.</h3>
					<h2>0612 0150 3518</h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Target Amount</h3>
					<h2>₹ 10,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>Tenure</h3>
					<h2>1<sub> Year</sub></h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Remaining Amount</h3>
					<h2>₹ 40,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
		</ion-card>


</div>



</ion-content>
