<ion-header>
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
      Tool Booked
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




 <ion-row class="mt10">
    <ion-col  [routerLink]="['/agritooldetail']" size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 ion-text-center" >
<ion-row>
    <ion-col size="12"> <img src="assets/imgs/product1.png">  </ion-col>
  </ion-row>
  <div class="black-heading mb5">Bakhsish Combines</div>
  <div class="small-gray mb0  mt5">You Booked this tool on 2nd dec 2019</div>
  <div class="small-gray mb0 mt5">for 12-12-2019 to 28-12-2019</div>
 </ion-card>
	 
    </ion-col>
	 <ion-col  [routerLink]="['/agritooldetail']" size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 ion-text-center" >
<ion-row>
    <ion-col size="12"> <img src="assets/imgs/product1.png">  </ion-col>
  </ion-row>
  <div class="black-heading mb5">Bakhsish Combines</div>
  <div class="small-gray mb0  mt5">You Booked this tool on 2nd dec 2019</div>
  <div class="small-gray mb0 mt5">for 12-12-2019 to 28-12-2019</div>
 </ion-card>
	 
    </ion-col>
	 <ion-col  [routerLink]="['/agritooldetail']" size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 ion-text-center" >
<ion-row>
    <ion-col size="12"> <img src="assets/imgs/product1.png">  </ion-col>
  </ion-row>
  <div class="black-heading mb5">Bakhsish Combines</div>
  <div class="small-gray mb0  mt5">You Booked this tool on 2nd dec 2019</div>
  <div class="small-gray mb0 mt5">for 12-12-2019 to 28-12-2019</div>
 </ion-card>
	 
    </ion-col>
	 <ion-col  [routerLink]="['/agritooldetail']" size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 ion-text-center" >
<ion-row>
    <ion-col size="12"> <img src="assets/imgs/product1.png">  </ion-col>
  </ion-row>
  <div class="black-heading mb5">Bakhsish Combines</div>
  <div class="small-gray mb0  mt5">You Booked this tool on 2nd dec 2019</div>
  <div class="small-gray mb0 mt5">for 12-12-2019 to 28-12-2019</div>
 </ion-card>	 
    </ion-col>  
  </ion-row>








</ion-content>