

<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
   Filter
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>


<ion-list>
  <ion-item>
    <ion-label>Seeds (45)</ion-label>
  <ion-checkbox></ion-checkbox>
  </ion-item>
  
   <ion-item>
    <ion-label>Fertilizer (12)</ion-label>
  <ion-checkbox></ion-checkbox>
  </ion-item>
  
   <ion-item>
    <ion-label>Agriculture Tools (68)</ion-label>
  <ion-checkbox></ion-checkbox>
  </ion-item>
  
   <ion-item>
    <ion-label>Show All Products</ion-label>
  <ion-checkbox></ion-checkbox>
  </ion-item>
  
   
</ion-list>




</ion-content>

<ion-footer no-border class="successfully-footer">

   <ion-grid class="successfully-footer">
  <ion-row class="successfully-footer">
   
    <ion-col class="successfully-footer">
   <button [routerLink]="['/aritoolbooking']" class="btngreen" ion-button block>Apply</button>
    </ion-col>
  
   
  </ion-row>
</ion-grid>

</ion-footer>
