<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
  Change Fingerprint Impression
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
<div class="pa15">
    <div class="thumb_impression mt30" text-center="">
      <h2>Scan you Fingerprint to Update</h2>
      <div class="fingerprint">
        <img src="assets/imgs/ic_thumb.png">
      </div>
	        
    </div>

<button  class="btngreen mt30" ion-button block outline [routerLink]="['/login']">Sign In</button>
</div>
</ion-content>
