<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="secondary">
        <ion-button  [routerLink]="['/search']" >
      <ion-icon class="white" slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
     Tool Booking
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-grid  class="successfully-footer ion-no-padding">
  <ion-row class="successfully-footer">
    <ion-col class="pa0">
       <button [routerLink]="['/filter']" class="filter" ion-button block>  <ion-icon name="clipboard"></ion-icon> Sort</button>
    </ion-col>
	<ion-col class="pa0">
        <button [routerLink]="['/filter']" class="filter" ion-button block><ion-icon name="funnel"></ion-icon> Filter</button>
    </ion-col>
  </ion-row>
</ion-grid>





 <ion-row class="mt10">
    <ion-col  [routerLink]="['/agritooldetail']" size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 ion-text-center" >
<ion-row>
    <ion-col size="12"> <img src="assets/imgs/product1.png">  </ion-col>
  </ion-row>
  <div class="black-heading mb5">Bakhsish Combines</div>
  <div class="small-gray mb0  mt5">Available From :<br /> 12-12-2019 | 05:00pm</div>
  <div class="small-gray mb0 mt5">Available To :<br /> 28-12-2019 | 06:00pm</div>
  <div class="mt10"><div class="green-btn pt0">View Details</div>  </div>  
 </ion-card>
	 
    </ion-col>
	
	
	
	  <ion-col  [routerLink]="['/agritooldetail']" size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 ion-text-center" >
<ion-row>
    <ion-col size="12"> <img src="assets/imgs/product1.png">  </ion-col>
  </ion-row>
  <div class="black-heading mb5">Bakhsish Combines</div>
  <div class="small-gray mb0  mt5">Available From :<br /> 12-12-2019 | 05:00pm</div>
  <div class="small-gray mb0 mt5">Available To :<br /> 28-12-2019 | 06:00pm</div>
  <div class="mt10"><div class="green-btn pt0">View Details</div>  </div>  
 </ion-card>
	 
    </ion-col>
	
	  <ion-col  [routerLink]="['/agritooldetail']" size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 ion-text-center" >
<ion-row>
    <ion-col size="12"> <img src="assets/imgs/product1.png">  </ion-col>
  </ion-row>
  <div class="black-heading mb5">Bakhsish Combines</div>
  <div class="small-gray mb0  mt5">Available From :<br /> 12-12-2019 | 05:00pm</div>
  <div class="small-gray mb0 mt5">Available To :<br /> 28-12-2019 | 06:00pm</div>
  <div class="mt10"><div class="green-btn pt0">View Details</div>  </div>  
 </ion-card>
	 
    </ion-col>
	
	  <ion-col  [routerLink]="['/agritooldetail']" size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 ion-text-center" >
<ion-row>
    <ion-col size="12"> <img src="assets/imgs/product1.png">  </ion-col>
  </ion-row>
  <div class="black-heading mb5">Bakhsish Combines</div>
  <div class="small-gray mb0  mt5">Available From :<br /> 12-12-2019 | 05:00pm</div>
  <div class="small-gray mb0 mt5">Available To :<br /> 28-12-2019 | 06:00pm</div>
  <div class="mt10"><div class="green-btn pt0">View Details</div>  </div>  
 </ion-card>
	 
    </ion-col>
	
	  <ion-col  [routerLink]="['/agritooldetail']" size="6">
	  <ion-card class="pa0 ma0 bg-white pa10 ion-text-center" >
<ion-row>
    <ion-col size="12"> <img src="assets/imgs/product1.png">  </ion-col>
  </ion-row>
  <div class="black-heading mb5">Bakhsish Combines</div>
  <div class="small-gray mb0  mt5">Available From :<br /> 12-12-2019 | 05:00pm</div>
  <div class="small-gray mb0 mt5">Available To :<br /> 28-12-2019 | 06:00pm</div>
  <div class="mt10"><div class="green-btn pt0">View Details</div>  </div>  
 </ion-card>
	 
    </ion-col>
	
		 
  
  </ion-row>

 



</ion-content>
