<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
   Deposit
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
<ion-grid class="pa15">
 <ion-row>
  	<ion-col class="pa0" size="12">
	
    <ion-label class="product-label pa0">Select Account</ion-label>
	</ion-col>
		<ion-col size="12" class="pa0 ma0">
    <ion-select class="ma0 select-white" value="brown" okText="OK" cancelText="Cancel">
      <ion-select-option value="brown">Saving Account</ion-select-option>
      <ion-select-option value="blonde">Loan Account</ion-select-option>
      <ion-select-option value="black">RD Account </ion-select-option>
    </ion-select>

<ion-label class="product-label">Enter Emount</ion-label>
<ion-input class="input-white" placeholder="500"></ion-input>
	
 <button [routerLink]="['/fundtransfersuccessfully']" class="btngreen mt20" ion-button block>Pay From This acc</button>
<button [routerLink]="['/fundtransfersuccessfully']" class="btnlightblue mt20" ion-button block>Pay With UPI</button>
	
	
</ion-col>
	
  </ion-row>
  
  
</ion-grid>

</ion-content>

