<ion-header no-border >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="card-bg-full pt0">




<ion-row [routerLink]="['/profile']" >
    <ion-col class="pl5" size="3">
      <img class="profile-pic-acc-page" src="assets/imgs/profile.png">
    </ion-col>
    <ion-col class="pt25"  size="9">
      <div class="transaction-head white">Gaurav Mehta</div>	
	<div class="transaction-date white">View Profile</div>
    </ion-col>
    
  </ion-row>



</div>


<!-- List of Text Items -->
<ion-list>
  <ion-item [routerLink]="['/changethumimpression']">
    <ion-label >
	<div class="transaction-head">Change mPin & Thumb impression </div>	
	<div class="transaction-date">Change login mPin and thumb impression</div>
	</ion-label>
  </ion-item>
  
   <ion-item [routerLink]="['/termsandconditions']">
    <ion-label>
	<div class="transaction-head">Terms & Conditions</div>	
	<div class="transaction-date">Terms & Conditions of App </div>
	</ion-label>
  </ion-item>
  
    <ion-item [routerLink]="['/faq']">
    <ion-label>
	<div class="transaction-head">FAQs</div>	
	<div class="transaction-date"> Frequently Asked Questions</div>
	</ion-label>
  </ion-item>
  
  <ion-item >
    <ion-label>
	<div class="transaction-head">24X7 Support </div>	
	<div class="transaction-date">Get your problem solved with 24x7 support tems</div>
	</ion-label>
  </ion-item>
  
   <ion-item [routerLink]="['/login']">
    <ion-label>
	<div class="transaction-head">Logout </div>	
	<div class="transaction-date">Logout from App</div>
	</ion-label>
  </ion-item>
    
</ion-list>

</ion-content>
