<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
    Book Tool
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
<ion-grid no-padding>
 <ion-row no-padding>
    <ion-col no-padding size="12">
		<div class="product-img"><img src="assets/imgs/combines.png"></div>
		</ion-col>
		<ion-col size="12" class="ion-padding">
		
		<div class="product-heading">Bakhsish Combines</div>
		<div class="product-text pt5">Available From : 12-12-2019 | 05:00pm</div>
		<div class="product-text">Available To : 28-12-2019 | 06:00pm</div>		
	</ion-col>
	
		<ion-col size="12" class="ion-padding">
<ion-label class="product-label">Select from date and time</ion-label>		
	<ion-input class="input-white" placeholder="Date and time here"></ion-input>
	
	
<ion-label class="product-label">Select End date and time</ion-label>
<ion-input class="input-white" placeholder="Date and time here"></ion-input>
	
	<ion-label class="product-label">Add Village</ion-label>
<ion-input class="input-white" placeholder="Village here"></ion-input>
	
	
<ion-label class="product-label">Add address</ion-label>
  <ion-textarea  class=""  placeholder="Enter address here..."></ion-textarea>

  
  <button [routerLink]="['/fundtransfersuccessfully']" class="btngreen" ion-button block>Book Now</button>
  
</ion-col>
	
  </ion-row>
</ion-grid>




   








</ion-content>
