 <ion-header>
  <ion-toolbar class="toolbar-blue">
    <ion-buttons (click)="goBack()"  slot="start">
      <ion-icon  name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title class="title-top">
      Payment
    </ion-title>
  </ion-toolbar>
</ion-header>

 
 
 
<ion-content>
<ion-grid>
  <ion-row> 
  <ion-col size="12">  
	<div class="transaction-head">Pay with UPI</div>	
 </ion-col>
  </ion-row>
</ion-grid>






<ion-list>
  <ion-item>
    <ion-label text-wrap>	
	<div class="small-gray">gauravmehta88@icici</div>
	</ion-label>
	  <ion-badge  color="light" slot="end"><ion-icon name="arrow-dropright"></ion-icon> </ion-badge> 
	  </ion-item>
	  
	   <ion-item lines="none" >
    <ion-label text-wrap>	
	<div class="small-gray">Add new UPI</div>
	</ion-label>
	  <ion-badge  color="light" slot="end">  <ion-icon name="add-circle"></ion-icon> </ion-badge> 
	  </ion-item>
	  </ion-list>



 


 


</ion-content>
<ion-footer no-border class="successfully-footer">

   <ion-grid class="successfully-footer">
  <ion-row class="successfully-footer">
    <ion-col size="7" class="successfully-footer">
        <button class="btnlightblue" ion-button block>8 Items | ₹ 1388.00</button>
    </ion-col>
    <ion-col size="5" class="successfully-footer">
   <button [routerLink]="['/fundtransfersuccessfully']"  class="btngreen" ion-button block>Pay</button>
    </ion-col>
  
   
  </ion-row>
</ion-grid>

</ion-footer>
