<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
     Recurring Deposit
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
<div class="card-bg-full">


<ion-card class="card black-card-sm">
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>RD No.</h3>
					<h2>0612 0150 3518</h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Target Amount</h3>
					<h2>₹ 10,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
			<ion-row class="row">
				<ion-col class="col" size="7">
					<h3>Tenure</h3>
					<h2>1<sub> Year</sub></h2>
				</ion-col>
				<ion-col class="col" size="5" text-end>
					<h3>Remaining Amount</h3>
					<h2>₹ 40,0000<sub>.00</sub></h2>
				</ion-col>
			</ion-row>
		</ion-card>
	
</div>


<!-- List of Text Items -->
<ion-list>

    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
    <ion-item>
    <ion-label>
	<div class="transaction-head">EMI Debited</div>	
	<div class="transaction-date">12 June, 2019 </div>
	<div class="transaction-amt green">₹ 5000.00  <sub>Cr</sub></div>
	</ion-label>
  </ion-item>
   
  
</ion-list>

</ion-content>

<ion-footer no-border class="successfully-footer">

   <ion-grid class="successfully-footer">
  <ion-row class="successfully-footer">
 
    <ion-col class="successfully-footer">
   <button [routerLink]="['/deposit']" class="btngreen" ion-button block>Add Deposit in RD</button>
    </ion-col>
  
   
  </ion-row>
</ion-grid>

</ion-footer>
