<ion-header no-border >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>





  <div class="card-bg-170height"></div>


<ion-card class="card-successfully">


<img class="profile-pic" src="assets/imgs/profile.png">
 
    
 
<ion-item>
<ion-grid>
 <ion-row>
    <ion-col  class="pt20">
      <ion-label size="12"><div class="transaction-date pl10">Name</div></ion-label>
	<ion-input class="transaction-head" value="Gaurav Mehta"></ion-input>
    </ion-col>    
</ion-row>
</ion-grid>

</ion-item>

<ion-item>
<ion-grid>
 <ion-row>
    <ion-col  class="pt20">
      <ion-label size="12"><div class="transaction-date pl10">Email address</div></ion-label>
	<ion-input class="transaction-head" value="gauravmehta88@gmail.com"></ion-input>
    </ion-col>    
</ion-row>
</ion-grid>
</ion-item>


<ion-item>
<ion-grid>
 <ion-row>
    <div class="pt20">
      <ion-label ><div class="transaction-date pl10">Account Number</div></ion-label>
	<ion-input class="transaction-head" value="+01201503518"></ion-input>
    </div>    
</ion-row>
</ion-grid>

</ion-item>


<ion-item>
<ion-grid>
 <ion-row>
    <ion-col  class="pt20">
      <ion-label size="12"><div class="transaction-date pl10">Customer ID</div></ion-label>
	<ion-input class="transaction-head" value="MEHAR20158"></ion-input>
    </ion-col>    
</ion-row>
</ion-grid>
</ion-item>
</ion-card>

</ion-content>
<ion-footer no-border class="successfully-footer">

   <ion-grid class="successfully-footer">
  <ion-row class="successfully-footer">
  
    <ion-col class="successfully-footer">
   <button class="btngreen" ion-button block>Update Profile</button>
    </ion-col>
  
   
  </ion-row>
</ion-grid>

</ion-footer>
