/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


body{font-family: 'Open Sans', sans-serif;}

.pa0 {padding: 0 !important;}
.pa5 {padding: 5px !important;}
.pa10 {padding: 10px !important;}
.pa15 {padding: 15px !important;}
.pa20 {padding: 20px !important;}
.pa25 {padding: 25px !important;}
.pa30 {padding: 30px !important;}
.pa35 {padding: 35px !important;}
.pa40 {padding: 40px !important;}
.pa45 {padding: 45px !important;}
.pa50 {padding: 50px !important;}
/*padding all*/
.ptb10 {padding: 10px 0 !important;}
/*padding left*/
.pl0 {padding-left: 0 !important;}
.pl5 {padding-left: 5px !important;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.pl20 {padding-left: 20px !important;}
.pl25 {padding-left: 25px !important;}
.pl30 {padding-left: 30px !important;}
.pl35 {padding-left: 35px !important;}
.pl40 {padding-left: 40px !important;}
.pl45 {padding-left: 45px !important;}
.pl50 {padding-left: 50px !important;}
/*padding left*/
/*padding right*/
.pr0 {padding-right: 0 !important;}
.pr5 {padding-right: 5px !important;}
.pr10 {padding-right: 10px !important;}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important;}
.pr25 {padding-right: 25px !important;}
.pr30 {padding-right: 30px !important;}
.pr35 {padding-right: 35px !important;}
.pr40 {padding-right: 40px !important;}
.pr45 {padding-right: 45px !important;}
.pr50 {padding-right: 50px !important;}
/*padding right*/
/*padding top*/
.pt0 {padding-top: 0 !important;}
.pt1 {padding-top: 1px !important;}
.pt2 {padding-top: 2px !important;}
.pt3 {padding-top: 3px !important;}
.pt4 {padding-top: 4px !important;}
.pt5 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}
.pt25 {padding-top: 25px !important;}
.pt30 {padding-top: 30px !important;}
.pt35 {padding-top: 35px !important;}
.pt40 {padding-top: 40px !important;}
.pt45 {padding-top: 45px !important;}
.pt50 {padding-top: 50px !important;}
/*padding top*/
/*padding bottom*/
.pb0 {padding-bottom: 0 !important;}
.pb1 {padding-bottom: 1px !important;}
.pb2 {padding-bottom: 2px !important;}
.pb3 {padding-bottom: 3px !important;}
.pb4 {padding-bottom: 4px !important;}
.pb5 {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb25 {padding-bottom: 25px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb35 {padding-bottom: 35px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb45 {padding-bottom: 45px !important;}
.pb50 {padding-bottom: 50px !important;}
.pb-5 {padding-bottom: -5px !important;}
.pb-10 {padding-bottom: -10px !important;}
.pb-15 {padding-bottom: -15px !important;}
.pb-20 {padding-bottom: -20px !important;}
.pb-25 {padding-bottom: -25px !important;}
.pb-30 {padding-bottom: -30px !important;}
.pb-35 {padding-bottom: -35px !important;}
.pb-40 {padding-bottom: -40px !important;}
.pb-45 {padding-bottom: -45px !important;}
.pb-50 {padding-bottom: -50px !important;}
/*padding bottom*/
/*padding right*/
.plr0 {padding-right: 0 !important;	padding-left: 0 !important;}
.plr5 {padding-left: 5px !important;padding-right: 5px !important;}
.plr10 {padding-left: 10px !important;padding-right: 10px !important;}
.plr15 {adding-left: 15px !important;	padding-right: 15px !important;}
.plr20 {padding-left: 20px !important;padding-right: 20px !important;}
.plr25 {padding-left: 25px !important;padding-right: 25px !important;}
.plr30 {padding-left: 30px !important;padding-right: 30px !important;}
.plr35 {padding-left: 35px !important;padding-right: 35px !important;}
.plr40 {padding-left: 40px !important;padding-right: 40px !important;}
.plr45 {padding-left: 45px !important;padding-right: 45px !important;}
.plr50 {padding-left: 50px !important;padding-right: 50px !important;}
/*padding right*/
/*padding end*/
/*margin start*/
/*margin all*/
.ma0 {margin: 0 !important;}
.ma5 {margin: 5px !important;}
.ma10 {margin: 10px !important;}
.ma15 {margin: 15px !important;}
.ma20 {margin: 20px !important;}
.ma25 {margin: 25px !important;}
.ma30 {margin: 30px !important;}
.ma35 {margin: 35px !important;}
.ma40 {margin: 40px !important;}
.ma45 {margin: 45px !important;}
.ma50 {margin: 50px !important;}
/*margin all*/
/*margin left*/
.ml0 {margin-left: 0 !important;}
.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important;}
.ml35 {margin-left: 35px !important;}
.ml40 {margin-left: 40px !important;}
.ml45 {margin-left: 45px !important;}
.ml50 {margin-left: 50px !important;}
/*margin left*/
/*margin right*/
.mr0 {margin-right: 0 !important;}
.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr35 {margin-right: 35px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}
/*margin right*/
/*margin top*/
.mt0 {margin-top: 0 !important;}
.mt5 {margin-top: 5px !important;}
.mt7 {margin-top: 7px !important;}
.mt10 {margin-top: 10px !important;}
.mt38 {margin-top: 38px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}
.mt-5 {margin-top: -5px !important;}
.mt-7 {margin-top: -7px !important;}
.mt-10 {margin-top: -10px !important;}
.mt-15 {margin-top: -15px !important;}
.mt-20 {margin-top: -20px !important;}
.mt-23 {margin-top: -23px !important;}
.mt-25 {margin-top: -25px !important;}
.mt-30 {margin-top: -30px !important;}
.mt-35 {margin-top: -35px !important;}
.mt-40 {margin-top: -40px !important;}
.mt-45 {margin-top: -45px !important;}
.mt-50 {margin-top: -50px !important;}
/*margin top*/
/*margin bottom*/
.mb0 {margin-bottom: 0!important;}
.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb-5 {margin-bottom: -5px !important;}
.mb-10 {margin-bottom: -10px !important;}
.mb-15 {margin-bottom: -15px !important;}
.mb-20 {margin-bottom: -20px !important;}
.mb-25 {margin-bottom: -25px !important;}
.mb-30 {margin-bottom: -30px !important;}
.mb-35 {margin-bottom: -35px !important;}
.mb-40 {margin-bottom: -40px !important;}
.mb-45 {margin-bottom: -45px !important;}
.mb-50 {margin-bottom: -50px !important;}

.mt60{margin-top: 60px !important;}

.input-f{
    padding: 0 20px 0 20px;
    background: #f3f5f5;
    min-height: 43px;
    margin-bottom: 8px;
    font-size: .9rem;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}



.input-white-bg{  
        border: 1px solid #efefef;
    padding: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    height: 42px;
    line-height: 42px;
    padding: 0 20px 0 20px;
    color: #9a9a9a;
    font-size: .78rem;
    font-weight: 500;
    letter-spacing: .5px;
	background-color:#ffffff;
}



.select-white{  
    border: 1px solid #efefef;
    padding: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
   
    padding: 10px;
    color: #9a9a9a;
    font-size: .8rem;
    font-weight: normal;
    
}



.input-white{  
    border: 1px solid #efefef;
    padding: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    height: 42px;
    line-height: 42px;
    padding: 0 20px 0 20px;
    color: #9a9a9a;
    font-size: .8rem;
    font-weight: normal;
    
}

.btnlightblue{ font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    height: 43px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #dfeaf2;
    text-transform: none;
    color:    #000000;
    letter-spacing: 0;
    width: 100%;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}

.addcart{
    text-transform: uppercase;  
    box-shadow: none;
    background: #f4f5f8;
	padding:5px;   
    width: 100%;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.btngreen {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    height: 43px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #39c526;
    text-transform: none;
    color:    #f3f5f5;
    letter-spacing: 0;
    width: 100%;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

 .banner {
    background: #058be6;
    height: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.card-bg{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background: 
    #058be6;
}

.scroll-x {
    white-space: nowrap;
    height: 162px;
    overflow-x: scroll;
}

.item_scroll {
    display: inline-block;
    // background: url(../../assets/imgs/item_bg.png);
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color:#ffffff;
    border-radius: 10px;
    margin: 0 4px;
    margin-left: 4px;
    padding: 18px;
    padding-bottom: 18px;
    padding-bottom: 15px;
    width: 252px;
    position: relative;
    overflow: hidden;
}

.item_scroll::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
}
.item_scroll h3 {
    font-size: .7rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 7px;
    color: #8c8c8c;
    position: relative;
    z-index: 99;
}
.item_scroll h2 {
    margin: 0;
        margin-bottom: 0px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: .5px;
    position: relative;
    z-index: 99;
    color:#ffffff;
}
.item_scroll h4 {
    background: #058be6;
    text-align: center;
    margin: 0;
    margin-bottom: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: .8rem;
    font-weight: 400;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    position: relative;
    z-index: 99;
    margin-bottom: 10px;
}
.item_scroll h5 {
    font-size: .7rem;
    font-weight: 700;
    margin: 0;
    color: 
    #058be6;
    position: relative;
    z-index: 99;
}


.title-top{background: #058be6;  font-size: 1rem; color: #ffffff;}
.toolbar-blue{--background: #058be6; box-shadow: none;}
.filter{
font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    height: 43px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ffffff;
    text-transform: none;
    color:    #000000;
    letter-spacing: 0;
    width: 100%;
    -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border:1px solid #dcdcdc;
}
.blue-bg{--background: #058be6; box-shadow: none;}

.white-heading {
    margin: 0;
    color: #fff;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: 1rem;
    color: #9a9a9a;
    font-weight: 500;
}
.thumb_impression img{
    width: 54px;
    margin: 0 auto;}

.thumb_impression h2 {
    color: #343434;
    margin-bottom: 28px;
    font-size: 1rem;}

	.menu_item {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 13px 0 13px 0;
	border: 1px solid #dcdcdc;
}
	.menu_item p {
    margin: 0;
    font-weight: 700;
    font-size: .7rem;
    letter-spacing: 0;
}
.menu_item .icon_box {
    display: block;
    width: 43px;
    margin: 0 auto;
    margin-bottom: 7px;
}
.banner-bg {
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10px;
	//background: url(../../assets/imgs/banner_bg.png) 0 0/100% 100% no-repeat;
}
.img_box {
    width: 130px;
    height: 117px;
	    padding: 0;
    margin: 0;
    display: inherit;
}
.crop_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: -50%!important;
    right: -50%!important;
    margin: auto;
}
.text-box h3 {
    color: #fff;
    font-size: 1rem;
    letter-spacing: .5px;
	margin: 2px 0;
    font-weight: 400;
    line-height: normal;
}
.item-native{ padding: 0;
    margin: 0;}
.text-box h2 {
    margin: 0;
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 12px;
}
.text-box h4 {
    color: #fff;
    font-size: .86rem;
    font-weight: 400;
    letter-spacing: .2px;
    margin: 0 -10px;
}
.text-box span {
    background: #39c526;
    font-size: 1rem;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding: 3px 8px;
    margin: 0 10px;
    min-width: 70px;
}
.item-inner {
    padding: 0 0 0 12px;
    position: relative;
    z-index: 99;
	margin: 0;
	display: flex;
    overflow: hidden;
	width:100%;
	
}
.input-wrapper{width:100%}

.transaction-head{font-size: .88rem;
    font-weight: 500;
    margin-bottom: 3px; color:#000000;}
	
.transaction-date{font-size: .7rem;
    font-weight: 500;
    margin-bottom: 3px; color:#9a9a9a;}
	
	
.transaction-amt {    
    font-size: 1rem;
    font-weight: 700;
	text-align:right;
}
.available-balance {font-size: 1.1rem;
    font-weight: 700;
	}
.red{color: #df1515;}
.green{color: #39c526;}
.white{color: #ffffff;}


.black-card-sm {
  
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    padding: 13px 18px 13px 18px;
    margin: 0 auto;
    width: calc(100% - 25px);
    margin-bottom: 13px;
}



.black-card-sm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
}

.black-card-sm h3{font-size: .7rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 7px;
    color: #b3b3b3;
}
.black-card-sm h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .5px;
    color: #fff;
}
.card-bg-full{padding:20px 0 2px 0; background-color:#058be6;}

.product-heading{ font-size: 1.2rem;
    letter-spacing: .5px;
    color: #058be6;}
	
	.product-text{ font-size: .7rem;
    color: #b3b3b3;}
	
	
	.product-description{ font-size: .78rem;
    color: #9a9a9a;}
	
	
.blue-text{color:#058be6;}
.green-btn {
    background: #39c526;
    font-size: .7rem;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding: 3px 8px;
	color:#ffffff;
	cursor: pointer;
}
.bg-white {
background-color: #ffffff!important;
 
}
.product-label{
    margin: 0;
    margin-bottom: 7px;
    font-weight: bold !important;
    font-size: .9rem;
    max-width: 100%;
    color: #000;
	float:left;
margin-top:20px;	
	font-weight:100; }
	
.product-img img{width:100%; height:auto;}
.card-bg-200height{background-color:#058be6; height:200px;}
.card-bg-170height{background-color:#058be6; height:170px;}

.card-successfully{margin-top: -120px !important; margin:15px; background-color:#ffffff; overflow: visible;}

.successfully{font-size: 1.3rem;
    font-weight: 700;
    margin: 0 0 30px 0;
	text-align:center;
}
.small-gray{color: grey;
    font-size: .7rem;
    margin: 0;
    margin-bottom: 8px;}
	
.quantity-gray-min{color: grey;
    font-size: 1.1rem;
    margin: 0;
	padding:0;
		font-weight:bold;
    }
	
	.quantity-gray-plus{color: grey;
    font-size: 1rem;
    margin: 0;
	padding:0;
		font-weight:bold;
    }
.quantity{
    color: #000000;
    font-size: .9rem;
    padding: 3px 3px 0 0;
	font-weight:bold;
    margin:0 15px;}

.quantity-outer{padding:5px;}


.price{
    color: #000;
    font-size: .9rem;
	margin: 0;
    margin-bottom: 8px;
   }


.discount{
    color: #39c526;
    font-size: .9rem;
	margin: 0;
    margin-bottom: 8px;
   }

.black-heading{margin: 0;
   font-weight: 500;
    font-size: .95rem;}

.successfully-green-round {
    color: #fff;
    font-size: 3rem;
    border-radius: 50%;
    background: #39c526;
    width: 80px;
    height: 80px;
    font-size: 4rem;
    line-height: 80px;
    display: block;
    margin: 0 auto;
	position: relative;
    top: -40px;
	padding: 8px;
}
.text-right-all{text-align:right;}
.border-bott{border-bottom:1px solid #dcdcdc;}
.profile-pic{-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; width: 100px !important; height: 100px; display: block;
    margin: 0 auto;
	position: relative;
    top: -50px;
	}
	
.profile-pic-acc-page{-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; width: 65px !important; height: 65px;}
	
.select-icon-inner {top:20px !important}
	
	
ion-menu-button{
--color:#ffffff;}