<ion-header  >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
   Search
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

<ion-searchbar></ion-searchbar>


</ion-content>
