.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.item_scroll{
  background: url(../../assets/imgs/item_bg.png) 0 0/100% 100% no-repeat;
}

.banner-bg ion-item{
   --background: url(../../assets/imgs/banner_bg.png) ;
	}
