<ion-header  no-border >
  <ion-toolbar class="toolbar-blue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-top">
      Welcome Gaurav
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-bg"></div>


  <div class="scroll-x">
    <div class="item_scroll" [routerLink]="['/alltransaction']">
      <h3>Saving Account</h3>
      <h2>0014 1241 5574</h2>
      <h4>Check Balance</h4>
      <h5>statement</h5>
    </div>

    <div class="item_scroll" [routerLink]="['/loanaccount']">
      <h3>Loan Account</h3>
      <h2>5574  1241 0014</h2>
      <h4>Add Deposit</h4>
      <h5>statement</h5>
    </div>


    <div class="item_scroll" [routerLink]="['/alltransaction']">
      <h3>Saving Account</h3>
      <h2>0014 1241 5574</h2>
      <h4>Check Balance</h4>
      <h5>statement</h5>
    </div>

    <div class="item_scroll" [routerLink]="['/alltransaction']">
      <h3>Saving Account</h3>
      <h2>0014 1241 5574</h2>
      <h4>Check Balance</h4>
      <h5>statement</h5>
    </div>
  </div>
<ion-grid>
<div class="home_menu">
  <ion-row>
    <ion-col size="4" [routerLink]="['/myaccount']">
      <div class="menu_item" text-center="">
					<div class="icon_box">
						<img src="assets/imgs/ic_account.png">
					</div>
					<p>Account</p>
				</div>
    </ion-col>
	
	 <ion-col size="4" [routerLink]="['/fundtransfer']">
      <div class="menu_item" text-center="">
					<div class="icon_box">
						<img src="assets/imgs/ic_fund_transfer.png">
					</div>
					<p>Fund Transfer</p>
				</div>
    </ion-col>
		 <ion-col size="4" [routerLink]="['/loanaccount']">
      <div class="menu_item" text-center="">
					<div class="icon_box">
						<img src="assets/imgs/ic_loan.png">
					</div>
					<p>Loan</p>
				</div>
    </ion-col>
	 <ion-col size="4" [routerLink]="['/alltransaction']">
      <div class="menu_item" text-center="">
					<div class="icon_box">
						<img src="assets/imgs/ic_statement.png">
					</div>
					<p>Statement</p>
				</div>
    </ion-col>
	
	 <ion-col size="4" [routerLink]="['/aritoolbooking']">
      <div class="menu_item" text-center="">
					<div class="icon_box">
						<img src="assets/imgs/book-tool.png">
					</div>
					<p>Tools Booking</p>
				</div>
    </ion-col>
	
	 <ion-col size="4" [routerLink]="['/purchasebooking']">
      <div class="menu_item" text-center="">
					<div class="icon_box">
						<img src="assets/imgs/agri-book.png">
					</div>
					<p>Purchase booking</p>
				</div>
    </ion-col>
	
	
		 <ion-col size="4" [routerLink]="['/deposit']">
      <div class="menu_item" text-center="">
					<div class="icon_box">
						<img src="assets/imgs/deposite.png">
					</div>
					<p>Deposit</p>
				</div>
    </ion-col>
	
	 <ion-col size="4" [routerLink]="['/allrd']">
      <div class="menu_item" text-center="">
					<div class="icon_box">
						<img src="assets/imgs/banking_act.png">
					</div>
					<p>RD</p>
				</div>
    </ion-col>
	
  </ion-row>
  </div>
</ion-grid>




<ion-list no-lines class="banner-bg mt30">
		<ion-item no-padding class="banner-bg">
		<div class="img_box">
				<img width="123px;" src="assets/imgs/img_farmer.png">
			</div><div class="item-inner">
			<div class="input-wrapper">
			<ion-label>
			<div class="text-box">
				<h3>Loan for Farmers</h3>
				<h2>discover yourself !</h2>
				<h4 class="d-flex"><span>Apply Now</span>Instant loan at Just 4.9%</h4>
			</div>
		</ion-label></div>
		</div><div class="button-effect"></div>
		</ion-item>

		
	</ion-list>




















</ion-content>
